{% extends 'base.html.twig' %}

{% block title %}Hello TwitchController!{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/streams.css') }}">
{% endblock %}

{% block content %}

	<div id="container-streams">
		<div id='streams'>
			{% for stream in streams %}
				{% set sizes = {
    '{width}': '',
    '{height}': ''
	}%}
				{% set thumbnail = stream.thumbnail_url|replace(sizes) %}
				<a href='https://twitch.tv/{{stream.user_name}}' target='_blank'>
					<div class='stream' style="background-image: url('{{ thumbnail }}'); background-size: cover; background-position: center;">
						<div class='data'>
							<p class='title'>{{stream.title}}</p>
						</div>
					</div>
				</a>

				{%endfor%}
			</div>

			<!-- 
												             {
												  "data": [
												    {
												      "id": "123456789",
												      "user_id": "98765",
												      "user_login": "sandysanderman",
												      "user_name": "SandySanderman",
												      "game_id": "494131",
												      "game_name": "Little Nightmares",
												      "type": "live",
												      "title": "hablamos y le damos a Little Nightmares 1",
												      "tags": ["Español"],
												      "viewer_count": 78365,
												      "started_at": "2021-03-10T15:04:21Z",
												      "language": "es",
												      "thumbnail_url": "https://static-cdn.jtvnw.net/previews-ttv/live_user_auronplay-{width}x{height}.jpg",
												      "tag_ids": [],
												      "is_mature": false
												    },
												    ...
												  ],
												  "pagination": {
												    "cursor": "eyJiIjp7IkN1cnNvciI6ImV5SnpJam8zT0RNMk5TNDBORFF4TlRjMU1UY3hOU3dpWkNJNlptRnNjMlVzSW5RaU9uUnlkV1Y5In0sImEiOnsiQ3Vyc29yIjoiZXlKeklqb3hOVGs0TkM0MU56RXhNekExTVRZNU1ESXNJbVFpT21aaGJITmxMQ0owSWpwMGNuVmxmUT09In19"
												  }
												}
												             
												             
												             
												             -->


		</ul>
	</div>
{% endblock %}
